/* CSS by:thiagoAlves0 */

/* Estilos para telas grandes (maiores que 768px) */
@media (min-width: 768px) {
  body {
    background-size: cover;
  }

  .login_body {
    margin-left: 25%;
    max-width: 600px;
  }
}

/* Estilos para telas médias (entre 481px e 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  .login_body {
    padding: 40px;
    max-width: 70%;
    margin-left: 15%;
  }
}

/* Estilos para telas pequenas (até 480px) */
@media (max-width: 480px) {
  body::before {
    content: none; /* Remover overlay para telas pequenas */
  }

  .login_body {
    padding: 20px;
    max-width: 100%;
    margin-left: 0;
  }

  .login_body h2 {
    font-size: 28px;
  }

  .logo img {
    height: 60px;
    width: 140px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #8d70db; /* Cor de fundo */
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-size: 2rem; /*texto do cabeçalho */
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out; /* Adicionei a transição para a borda inferior */
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.header h2:hover {
  color: #1f1f1f;
  border-bottom-color: #1f1f1f;
}

.anime-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anime-item {
  background-color: #1f1f1f; /* Cor de fundo */
  margin: 10px 0;
  padding: 20px;
  border-radius: 12px; /*o raio da borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra */
  transition: transform 0.3s ease-in-out;
  flex: 0 0 calc(31.333% - 20px); /* largura do item */
  max-width: calc(31.333% - 20px); /* largura do item */
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* Adicionei para esconder overflow caso a descrição seja muito longa */
}

.anime-item:hover {
  transform: scale(1.05); /* escala ao passar o mouse */
}

.anime-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.hover-color:hover {
  color: #1f1f1f;
}

.anime-description {
  font-size: 1rem;
  color: #bbb; /* Cor da descrição */
}

.anime-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Aumentei o raio da borda */
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.anime-item:hover .anime-image {
  filter: brightness(1.2); /* brilho ao passar o mouse */
}

/* Efeito de brilho ao passar o mouse */
.shine {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px; /* Aumentar o raio da borda */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.anime-item:hover .shine {
  opacity: 1;
}
